@import '../../vars';

.top-box {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 1000;

    header {
        background-color: $med-blue;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: $menu-height;
        position: absolute;
        bottom: 0;
    
        a {
            &:hover {
                transform: scale(1.1);
            }
        }
    
        nav {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: baseline;
    
            svg {
                width: calc($menu-height * (6 / 9));
                height: calc($menu-height * (6 / 9));
                stroke-width: 0;
                fill: $light-blue;
                padding: calc($menu-height * (1.5 / 9))
            }
    
            #hamburger,
            #hamburger-open {
                &:hover {
                    cursor: pointer;
                }
            }
    
            #hamburger-open {
                animation: rotate45 .25s ease-in-out forwards;
            }
    
            @keyframes rotate45 {
                from {
                    transform: rotate(0deg);
                    width: calc($menu-height * (4 / 9));
                    height: calc($menu-height * (4 / 9));
                    padding: calc($menu-height * (2.5 / 9));
                }
                to {
                    transform: rotate(45deg);
                    width: calc($menu-height * (6 / 9));
                    height: calc($menu-height * (6 / 9));
                    padding: calc($menu-height * (1.5 / 9));
                }
            }
        }
    
        .logoDiv {
            width: 20%;
            display: flex;
            align-items: end;
            justify-content: center;
            padding-bottom: calc($menu-height * (1.5 / 9));
            position: relative;
            
            a {
                #logo {
                    height: calc($menu-height * 1.75);
                    width: auto;
                    aspect-ratio: 1 / 1;
                    position: relative;
                    bottom: .6dvh;
                    // backdrop-filter: blur(3px);
                }
            }
        }
    
        .contact {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: end;
    
            svg {
                width: calc(0.9 * $menu-height);
                height: calc(0.9 * $menu-height);
                stroke-width: 0;
                fill: $light-blue;
                padding-right: calc($menu-height * (1.5 / 9));
            }
        }
    }
}