@import './vars';

#hero {
    display: flex;
    flex-direction: column;
    background: $dark-blue;

    .me {
        width: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;

        image {

        }
    }
}